.sidebar {
  flex: 3;
  padding: 20px;
  padding-bottom: 30px;
  background-color: #fdfbfb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar .sidebarTitle{border-bottom:2px solid #a7a4a4;border-top:2px solid #a7a4a4;color:#222;font-family:"Varela Round", sans-serif;font-size:12px;font-weight:600;line-height:20px;margin:10px;padding:5px;position:relative;text-align:center;width:80%;}
.sidebar .sidebarTitle:before{background:#fff;content:"";height:3px;left:0;position:absolute;top:0;width:100%}
.sidebar .sidebarTitle:after{background:#fff;bottom:-1px;content:"";height:3px;left:0;position:absolute;width:100%}
.sidebarItem > img{box-shadow:5px 5px 0px #bababa;margin-top:15px;width:236px}
.link{font-size:14px;}
.sidebarItem > p {
  padding: 30px;
}

.sidebarList {
  list-style: none;
  margin-bottom: 30px;
}

.sidebarListItem {
  display: inline-block;
  width: 50%;
  margin-top: 15px;
  cursor: pointer;
}

.sidebarSocial {
  margin-top: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarIcon{
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}